/* font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-body-p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Noto Serif font for title */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
}

/* universal css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}
.orange-text {
  color: #e95a08;
}
/* header section */
header {
  width: 1140px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 30px auto;

  border: 2px solid black;
}
header img {
  max-width: 134px;
  height: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-menu {
  display: flex;
  gap: 20px;
}

nav li :hover {
  background-color: lightgrey;
}
nav li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 400;
  transition: 0.2s;
}
ul .home,
.Cart {
  font-weight: 700;
  color: #252432;
}

/* banner section */
.banner {
  max-width: 1140px;
  /* max-height: 461px; */
  display: flex;
  justify-content: space-between;
  margin: 150px auto;

  border: 2px solid black;
}
.banner-text {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  max-width: 570px;
  margin-top: 160px;
  margin-bottom: 5px;
}
.banner-text h1 {
  font-size: 3.75rem;
  color: #000000;
}
.banner-text p {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0%;
  max-width: 560px;
  padding: 5px 0px 0px 0px;
}
.banner-img {
  flex: 1;
  width: 560px;
  height: 335px;
  display: flex;
  margin-top: 77px;
  justify-content: flex-end;
  align-items: flex-end;
  border-style: dashed;
  border: 3px dashed lightgray;
}
.banner-img img {
  width: 100%;
  height: 100%;
}

/* plants section */
.plant-section {
  max-width: 1140px;
  height: fit-content;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 120px auto;
  /* padding-top: 20px; */

  border: 2px solid black;
}
.Our-Plants-content {
  max-width: 1140px;
  height: fit-content;
  margin-top: 0px;

  border: 2px solid black;
}
.Our-Plants-content h2 {
  font-size: 3.125rem;
  line-height: 68px;
  padding-bottom: 17px;
}
.Our-Plants-content p {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 888px;
  padding: 10px 10px 40px 10px;
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 137px 20px;
}
.cart {
  max-width: 270px;
  max-height: 400px;
}
.cart img {
  max-width: 100%;
  max-height: 100%;
}
.cart-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.cart h6 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 150%;
  color: rgb(17, 17, 17);
  margin: 15px auto 15px auto;
}
small {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 150%;
  color: rgb(17, 17, 17);
  margin-bottom: 10px;
}
button {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  max-width: 350px;
  background-color: #e95a08;
  line-height: 19px;
  padding: 15px 80px 15px 80px;
  border: none;
  margin: 5 auto;
  justify-content: center;
}
/* plants lover section */
.plants-lover-section {
  position: relative;
  max-width: 1140px;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 210px auto 133px auto;
  gap: 90px;

  border: 2px solid black;
}
.plants-lover-badge {
  position: absolute;
  left: 350px;
  top: -130px;
  background: none;
}
.plants-lover-badge img {
  width: 290px;
  height: 290px;
  background: none;
}

.plants-lover-main-img {
  max-width: 50%;
}

.plants-lover-content {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 0;
}
.plants-lover-content h2 {
  color: black;
  font-size: 3.44rem;
  font-weight: 800;
  line-height: 68px;
  max-width: 540px;
  max-height: 137px;
  height: 137px;
  margin-bottom: 30px;
  padding-left: -100px;
}
.plants-lover-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.plants-lover-content li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  line-height: 27px;
  font-weight: 400;
}
/* Latest-Deals-section */
.Latest-Deals-section {
  width: 1440px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto 120px auto;
}
.Latest-Deals-section h3 {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
  color: black;

  border: 2px solid black;
}
.Latest-Deals-section p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 27px;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  max-width: 888px;
  margin: 15px auto;
  margin-bottom: 0px;

  border: 2px solid black;
}

/* Promo Section */
.promo-section {
  display: flex;
  gap: 25px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.collage-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 12px;
}

.promo-card {
  width: 366px;
  height: 206px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo-card.large {
  width: 753px;
  height: 433px;
}
.promo-card.large h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 54px;
  background: transparent;
  padding-bottom: 20px;
}

.promo-card.large a {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 34px;
}

.promo-content {
  background: transparent;
}

.promo-content h3 {
  margin: 0;
  line-height: 27px;
  font-size: 1.25rem;
  font-weight: bold;
  background: transparent;
  padding-bottom: 10px;
}

.promo-content a {
  color: #fff;
  text-decoration: underline;
  font-size: 0.9rem;
  background: transparent;
  font-family: "Inter", sans-serif;
}

.card-bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card-ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/deal-ana.png");
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card-zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/deal-zabo.png");
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Subscribe Section */
.subscribe-section {
  max-width: 100%;
  height: 533px;
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  margin: 120px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-section h2 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 68px;
  background: transparent;
  width: 586px;
}
.input-field {
  display: flex;
  justify-content: center;
}
.input-field input {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 644px;
  height: 50px;
  border: none;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0px;
}

.input-field button {
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  padding: 12px 50px;
  cursor: pointer;
  font-weight: 600;
  width: 186px;
  height: 50px;
  text-align: end;
}

.input-field button:hover {
  background-color: #d95600;
}
/* footer section */
/* 1st part */
footer {
  padding: 50px 20px;
}

.footer-container {
  max-width: 1120px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;

  border: 2px solid black;
}

.footer-logo-section {
  width: 365px;
  height: 200px;
  margin-top: 65px;

  border: 2px solid black;
}

.footer-logo-section .logo {
  width: 135px;
  margin-bottom: 10px;
}

.footer-logo-section p {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 0px 0px 0px;
}
/* 2nd and 3rd part */
.footer-links {
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid black;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 35px;
}

.footer-links ul li a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  font-size: 1rem;
  font-weight: 400;
}

.footer-links ul li a:hover {
  color: #0070f3;
}
/* part 4 */
.footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 220px;

  border: 2px solid black;
}

.footer-social img {
  width: 36px;
  height: 36px;
  transition: transform 0.2s ease;
}

.footer-social img:hover {
  background-color: #8987a1;
}

/*  responsive for mobile devices */

@media (max-width: 575px) {
  /* header section */
  header {
    width: 350px;
    margin: 60px 10px;
    padding: 5px 5px;
  }
  header img {
    width: 63px;
  }
  .main-menu {
    display: none;
  }
  /* banner section */
  .banner {
    flex-direction: column-reverse;
    margin: 5px auto;
  }
  .banner-img {
    border: none;
    width: 100%;
  }
  .banner-text {
    width: 350px;
    margin: 28px 5px 5px 10px;
  }
  .banner-text h1 {
    font-size: 1.5rem;
    line-height: 33px;
  }
  .banner-text p {
    font-size: 0.875rem;
    font-weight: 400;
    /* max-width: 560px; */
    padding: 5px 0px 0px 0px;
  }
  /* plants section */
  .plant-section {
    max-width: 350px;
    /* height: 1250px; */
    padding-top: 5px;
    margin: 10px 5px 5px 0px;
  }
  .Our-Plants-content h2 {
    font-size: 1.5rem;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .Our-Plants-content p {
    font-size: 0.875rem;
    max-width: 336px;
    margin: 10px 25px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .cart-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 10px;
    gap: 130px 20px;
  }
  .cart {
    max-width: 170px;
    max-height: 196px;
  }

  .cart h6 {
    font-size: 1rem;
    margin: 10px auto 10px auto;
  }
  small {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  button {
    color: white;
    font-size: 1rem;
    max-width: 170px;
    padding: 10px 25px;
  }
  /* /* plants lover section */
  .plants-lover-section {
    max-width: 350px;
    max-height: 648px;
    flex-direction: column;
    margin: 150px auto 150px auto;
    gap: 90px;

    border: 2px solid black;
  }
  .plants-lover-main-img {
    max-width: 350px;
    max-height: 390px;
  }
  .plants-lover-main-img {
    width: 100%;
  }
  .plants-lover-badge {
    display: none;
  }

  .plants-lover-content {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0;
  }
  .plants-lover-content h2 {
    font-size: 1.5rem;
    max-width: 270px;
    max-height: 33px;
    margin-bottom: 30px;
    /* padding-left: -100px; */
  }

  .plants-lover-content ul {
    gap: 10px;
  }
  .plants-lover-content li {
    font-size: 0.875rem;
    line-height: 20px;
  }
  /* Latest-Deals-section */
  .Latest-Deals-section {
    width: 100%;
    height: 336px;
    /* margin: 10px auto 120px auto; */
    /* margin: 10px auto 46px; */
    margin: 0 0 46px auto;
  }
  .Latest-Deals-section h3 {
    font-size: 1.5rem;
  }
  .Latest-Deals-section p {
    line-height: 20px;
    font-size: 0.875rem;
    max-width: 336px;
    max-height: 68px;
    margin: 15px auto;
    /* margin-bottom: 0px; */
  }
  /* Promo Section */
  .promo-section {
    flex-direction: column;
    max-width: 350px;
    /* max-height: 581px; */
    margin: 0 auto;
    gap: 20px;
    padding: 0px;
  }

  .promo-card,
  .promo-card.large {
    width: 350px;
    height: 206px;
  }
  .promo-card.large h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    background: transparent;
    padding-bottom: 20px;
  }

  .promo-card.large a {
    font-size: 1rem;
    font-weight: 600;
  }

  /* Subscribe Section */

  .subscribe-section {
    max-width: 100%;
    height: 275px;
    margin: 50px auto 50px auto;
  }

  .subscribe-section h2 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    width: 100%;
  }
  .input-field {
    font-size: 1rem;
  }
  .input-field input {
    border-radius: 6px;
    width: 218px;
    height: 20px;
    padding-bottom: 0px;
  }

  .input-field button {
    padding: 12px 50px;
    width: 100px;
    height: 50px;
    text-align: end;
  }
  /* footer */
  footer {
    padding: 10px 20px;
  }

  .footer-container {
    max-width: 350px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
  }

  .footer-logo-section {
    width: 350px;
    height: auto;
    margin-top: 65px;
  }

  .footer-logo-section .logo {
    width: 180px;
  }

  .footer-logo-section p {
    font-size: 1rem;
    margin: 5px 0px;
  }
  /* 2nd and 3rd part */
  .footer-links {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

  /* part 4 */
  .footer-social {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
  }

  .footer-social img {
    width: 18px;
    height: 15px;
    transition: transform 0.2s ease;
  }
}
